head{
    background-color: #f7f1e9;
}

body{
    background-color: #f7f1e9;
}

.navbar{
    top: 0;
    border-bottom: 3px solid #8c996e;
    padding:30px;
    margin-left: -10px;
    margin-right: -10px;
    align-items: center;
    background-color: #f7f1e9;
}

.cat-pic{
    border-bottom: 3px solid #8c996e;
}