head{
    background-color: #f7f1e9;
}

body{
    background-color: #f7f1e9;
    width: 100vw;
    overflow-x: hidden;
}

.container{
    position: relative;
    text-align: center;
    color:#f7f1e9;
    display: inline-block;
    display:flex;
}

.navbar{
    top: 0;
    border-bottom: 0.188rem solid #8c996e;
    padding:0.938rem;
    padding-left: 6.25rem;
    padding-right: 6.875rem;
    margin-left: -8px;
    margin-right: -8px;
    align-items: center;
    background-color: #f7f1e9;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-element{
    font-family:monospace;
    font-size: 1.25rem;
    text-decoration: none;
    color:#bf897f;
    font-weight: bold;
    z-index: 1;
}

.navbar a:hover{
    color: #dac2b2;
}

.cat-pic{
    position: absolute;
    border-bottom: 28rem solid #8c996e;
    box-shadow: #3a3d3a 0px 5px 10px 0px;
    padding-bottom: -10rem;
    margin-left: -8px;
    width: 100vw;
    z-index: -1;;
}

.stars{
    position: absolute;
    top: 1.25rem;
    left:1.25rem;
    width: 9.375rem;
}

.wavy{
    position: absolute;
    display:block;
    top:-115px;
    left: -10px;
    right: -10px;
    width: 100vw;
    height: 100vh;
    opacity: 50%;
    z-index: -2;
}

.image-wrap{
    position:relative;
    width:100vw;

}

.name{
    position: absolute;
    top: 15.625rem;
    left: 28.125rem;
    transform: translate(-50%, -50%);
    color: #bf897f;
    font-size: 6.25rem;
    font-weight: bold;
    z-index: 1;
    font-family:monospace;
    letter-spacing: 0.938rem;
    border-right: 0.313rem solid #bf897f;
    width: 61%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(11), cursor 1s step-end infinite;
}

@keyframes cursor{
    50% { border-color: transparent}
}

@keyframes typing{
    from { width: 0 }
}

.section{
    display: none;
}

.about{
    display: block;
    text-decoration:underline;
    text-underline-offset: 1rem;
    text-decoration-style: wavy;
    text-decoration-thickness: 0.188rem;
    text-decoration-color: #dac2b2;
    text-shadow: #f7f2e0 0.05rem 0.05rem 0.05rem;
    padding-top: 30rem;
    margin-left:5rem;
    color: #bf897f;
    font-size: 2.5rem;
    font-family:sans-serif;
    letter-spacing: 0.3rem;
    font-style: italic;
}

.about-text{
    margin-left: 5rem;
    margin-right: 5rem;
    color: #f7f2e0;
    font-size: 1.10rem;
    font-family:sans-serif;
}

.about-section{
    display: grid;
    grid-template-columns: auto, auto;
    gap: 2rem;
}

.projects-div{
    display:inline-block;
}

.quarter-wave-diff{
    width:40%;
    margin-left:50rem;
    margin-top:4.3rem;
    margin-bottom: -26.5rem;
}

.projects{
    padding-bottom: 30rem;
    margin-left:5rem;
    color: #bf897f;
    font-size: 2.5rem;
    font-family:sans-serif;
    letter-spacing: 0.3rem;
}

.projects-text{
    color: #dac2b2;
    font-size: 1.10rem;
    font-family:sans-serif;
}

.projects{
    display: grid;
    grid-template-columns: auto, auto;
    gap: 2rem;
}

.duck-1{
    width:20%;
    margin-left:50rem;
    margin-bottom:-12.7rem;
}

.duck-2{
    width:8%;
    margin-left:62.5rem;
    margin-bottom:-8.7rem;
}

.duck-3{
    width:8%;
    margin-left:67rem;
    margin-bottom:-7.6rem;
}

.duck-4{
    width:8%;
    margin-left:71.4rem;
    margin-bottom:-6.5rem;
}

.github{
    width: 4rem;
    margin-left:1.55rem;

}

.github:hover{
    opacity: 85%;
}

.linkedin{
    width: 3rem;
    margin-left:1.55rem;
}

.linkedin:hover{
    opacity: 85%;
}

.mail{
    width: 8rem;
    margin-left:0;
}

.mail:hover{
    opacity: 85%;
}

.quarter-wave{
    width: 24%;
    margin-left: -1.25rem;
    margin-bottom:-15.2rem;
    z-index: 2;
}

.contact{
    background-color: #dac2b2;
    border-bottom:5 rem;
    height: 15rem;
    margin-left: -2rem;
    margin-right: -1.5rem;
    margin-bottom:-2rem;
    align-items: center;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

/*mobile*/
@media (max-width: 600px) {
    html{
        overflow-x: hidden;
    }
    head{
        background-color: #f7f1e9;
    }

    body{
        background-color: #f7f1e9;
        overflow-x: hidden;
    }

    .container{
        position: relative;
        text-align: center;
        color:#f7f1e9;
        display: inline-block;
        display:flex;
    }

    .navbar{
        visibility: hidden;
        height: 0;
    }

    .nav-element{
        visibility: hidden;
    }

    .navbar a:hover{
        visibility: hidden;
    }

    .cat-pic{
        position: absolute;
        border-bottom: 21.7rem solid #8c996e;
        box-shadow: #3a3d3a 0px 5px 10px 0px;
        top:0;
        margin-left: -8px;
        margin-right:-10px;
        width: 100vw;
        z-index: -1;
    }

    .stars{
        position: absolute;
        top: 1rem;
        left:0.25rem;
        width: 6rem;
    }

    .wavy{
        position: absolute;
        width: 100vw;
        height: 17rem;
    }

    .image-wrap{
        position:relative;
        width:100vw;

    }

    .name{
        top: -3rem;
        left: -2rem;
        transform: translate(50%, 50%);
        color: #bf897f;
        font-size: 3rem;
        font-weight: bold;
        z-index: 1;
        border-right: hidden;
        font-family:monospace;
        letter-spacing: 0.938rem;
        display: flex;
        white-space: wrap;
        flex-direction: column;
        columns: auto;
    }

    @keyframes cursor{
        hidden { border-color: transparent}
    }

    @keyframes typing{
        hidden { width: 0 }
    }

    .section{
    display: none;
    }

    .about{
        display: block;
        text-decoration:underline;
        text-underline-offset: 1rem;
        text-decoration-style: wavy;
        text-decoration-thickness: 0.188rem;
        text-decoration-color: #dac2b2;
        text-shadow: #f7f2e0 0.05rem 0.05rem 0.05rem;
        padding-top: 20%;
        margin-left:5%;
        color: #bf897f;
        font-size: 2rem;
        font-family:sans-serif;
        letter-spacing: 0.3rem;
        font-style: italic;
    }

    .about-text{
        margin-left: 5%;
        margin-right: 8%;
        color: #f7f2e0;
        font-size: 0.9rem;
        font-family:sans-serif;
    }

    .about-section{
        display: grid;
        grid-template-columns: auto, auto;
        gap: 2rem;
    }

    .projects-div{
        display:inline-block;
    }

    .quarter-wave-diff{
        width:50%;
        margin-left: 50%;
        margin-top:-4%;
        margin-bottom: -40%;
    }

    .projects{
        padding-bottom: 60%;
        margin-left:5%;
        color: #bf897f;
        font-size: 2rem;
        font-family:sans-serif;
        letter-spacing: 0.3rem;
    }

    .projects-text{
        color: #dac2b2;
        font-size: 1.10rem;
        font-family:sans-serif;
    }

    .projects{
        display: grid;
        grid-template-columns: auto, auto;
        gap: 2rem;
    }

    .duck-1{
        width:20%;
        margin-left:20%;
        margin-bottom:-12%;
    }

    .duck-2{
        width:8%;
        margin-left:62%;
        margin-bottom:-8%;
    }

    .duck-3{
        width:8%;
        margin-left:67%;
        margin-bottom:-7%;
    }

    .duck-4{
        width:8%;
        margin-left:71%;
        margin-bottom:-6%;
    }

    .github{
        width: 20%;
        margin-left:80%;

    }

    .github:hover{
        opacity: 85%;
    }

    .linkedin{
        width: 10%;
        margin-left:5%;
    }

    .linkedin:hover{
        opacity: 85%;
    }

    .mail{
        width: 30%;
        margin-left:-130%;
        margin-right:-50%
    }

    .mail:hover{
        opacity: 85%;
    }

    .quarter-wave{
        width: 16%;
        margin-left: -1.25rem;
        margin-bottom:-10%;
        z-index: 2;
    }

    .contact{
        background-color: #dac2b2;
        border-bottom:2%;
        height: 15%;
        margin-left: -2rem;
        margin-right: -1.5rem;
        margin-bottom:-2rem;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        width: 100vw;
    }
}